/* universal selector */
* {
    /* font */
    font-family: "JetBrains Mono", monospace;
}

/* color using rgb */
/* id selector */
#attendees {
    /* variables and fallbacks */
    --main-color: orange;
    color: var(--main-color, rgb(5, 95, 95));
}

/* color using hex codes */
#agenda {
    color: #002e85;
}

/* color using hue, saturation, lightness */
#meeting-vid {
    color: hsl(250, 50%, 60%);

    /* position example 1 */
    position: relative;
    top: 10px;
    left: 10px;
}

/* pseudo-class */
/* pseudo-class selector */
header:hover {
    color: black;
}

/* pseudo-class; changes button color when pressed */
#btn:active {
    background-color: chocolate;
}

/* color name */
#ideas {
    color: maroon;
}

/* color using wider-gamut color */
#meeting-audio {
    color: color(srgb 1 0.1 0.6 / 0.75);
}

/* change background color */
body {
    background-color: antiquewhite;
}

/* absolute units */
h3 {
    color: color-mix(in srgb, blue 1, red 1);
    letter-spacing: 2pt;
    font-size: 24px;
}

#participants {
    text-indent: 5mm;
}

/* relative units */
nav {
    word-spacing: 1vw;
    margin-top: 2em;
    font-size: 1.25rem;

    /* display example 1 */
    display: block;
}

header {
    /* margin long notation */
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;

    /* padding long notation */
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;

    /* borders */
    border-style: double;
    border-color: green;
    border-width: 5px;
    border-radius: 20px;

    /* display example 2 */
    display: inline-block;

    /* position example 2 */
    position: static;
}

footer {
    /* margin short notation */
    margin: 20px 20px 10px 10px;
    /* padding short notation */
    padding: 20px 20px 10px 10px;
}

/* nested selector */
form {
    /* auto margins */
    margin: 50px auto;

    /* sizing */
    height: 1000px;
    width: 1000px;
    max-width: 1000px;
    min-width: 500px;
}

form label[for="water"] {
    font-weight: 100;
}

/* grid */
#attendance-list {
    display: grid;
    justify-self: start;
    align-self: center;
    gap: 2rem;
}

/* flexbox */
fieldset {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

/* responsiveness */
@media (max-width: 768px) {
    header {
        justify-content: center;
    }

    body {
        width: 80%;
        font-size: 14px;
    }
}

/* element selector */
p {
    color: teal;
}

/* class selector */
.voluntary-info-heading {
    color: navy;
}

/* selector list */
h1, h2 {
    color: steelblue;
}

/* combinators */

/* descendant combinator */
nav a {
    color: hotpink;
}

/* child combinator */
ol > li {
    color: purple;
}

/* attribute selector */
label[for="water"] {
    color: blue;
}

/* general sibling combinator */
h2 ~ p {
    color: blue;
}

/* adjacent sibling combinator */
h2 + p {
    color: orangered;
}

/* combining two selectors */
h1.voluntary-info-heading {
    font-family: 'Courier New';
}

/* new selectors */

/* :has() */
form:has(img) {
    font-weight: bold;
}
